body {
    background-color: #FFF8E7;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #333; 
}

;

header {
    background: #A9A9A9;
    color: white;
    padding: 40px;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: 0.3s ease;
    
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}

.project-card h3 {
    margin-bottom: 10px;
    color: #4A90E2; 
}

.project-card p {
    color: #555;
    font-size: 14px;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.18);
}

.project-card:active {
    transform: scale(0.96); 
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: 0.1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


